.i-slide {
  min-height: 100vh;
  padding: 6.5rem 0;
  position: relative;

  @media only screen and (min-width: 1000px) {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    overflow: hidden;

    & > div {
      flex: 1;
    }
  }

  &__title {
    @include _12-8rem;
    width: max-content;
    margin: 0 auto;
    position: relative;
    padding-right: clamp(5.5rem, 7.2vw, 7.2rem);
    margin-bottom: clamp(3.4rem, 9.5vw, 9.5rem);
    z-index: 1;

    @media only screen and (min-width: 1000px) {
      padding-right: 0;
    }

    & span {
      @include _6-8rem;
      color: $brown;
      position: absolute;
      bottom: -1rem;
      left: clamp(8.5rem, 15.2vw, 15.2rem);

      @media only screen and (min-width: 600px) {
        bottom: -3rem;
      }

      @media only screen and (min-width: 800px) {
        bottom: -5rem;
      }

      @media only screen and (min-width: 1000px) {
        right: 3.5rem;
        left: initial;
      }
    }
  }

  &__image-box {
    position: relative;
    width: max-content;
    margin: 0 auto clamp(4.3rem, 5vw, 5rem);
    position: relative;

    @media only screen and (min-width: 1000px) {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    @media only screen and (min-width: 1450px) {
      margin: 0 -15rem;
    }

    &::before {
      content: "";
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      box-shadow: 0px 0px 100px 45px $white;
      -webkit-box-shadow: 0px 0px 100px 45px $white;
      -moz-box-shadow: 0px 0px 100px 45px $white;
    }

    &::after {
      content: "";
      width: calc(100% - 8rem);
      height: 0;
      border-radius: 50%;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      box-shadow: 0px 0px 20px 2px #000;
      -webkit-box-shadow: 0px 0px 20px 2px #000;
      -moz-box-shadow: 0px 0px 20px 2px #000;
    }

    & > picture {
      position: relative;
      z-index: 10;
    }

    & div:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      z-index: 10;

      & picture {
        display: block;
        width: max-content;
        margin: 0 auto -0.5rem;

        @media only screen and (min-width: 1000px) {
          width: 85%;
        }
      }

      & p {
        @include _4-5rem;
      }

      & span {
        @include _1-3rem;
        display: block;
        margin: 0 auto;
      }

      & p,
      & span {
        color: $green-dark;
      }
    }
  }

  & > p,
  & > div > p {
    @include _2rem;
    z-index: 10;
    position: relative;
    max-width: 28rem;

    &:not(:first-child) {
      margin: clamp(2.6rem, 3.8vw, 3.8rem) auto;
    }
  }

  &__details-1 {
    position: absolute;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  &__details-2 {
    position: absolute;

    &.left {
      top: 30%;
      left: 0;
    }

    &.right {
      top: 25%;
      right: 0;
    }
  }

  &__details-3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--orange {
    background-color: $orange;

    .i-slide__title {
      color: $yellow;
    }
  }
  &--yellow {
    background-color: $yellow;

    .i-slide__title {
      color: $orange;
    }
  }
  &--blue {
    background-color: $blue;

    .i-slide__title {
      color: $yellow;
    }
  }
}
